@model BlogApp.Models.ViewModels.ArticleCreateViewModel

@{
    Layout = "/Views/Shared/_Auth.cshtml";
}

<div class="container">
    <h1 class="mt-5">Create</h1>
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card mt-3">
            <form asp-controller="Article" asp-action="CreateArticle" method="post" enctype="multipart/form-data">
                <div class="card-header">
                    <i class="fas fa-pen-fancy mr-1"></i>
                    Write a Post
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="HeaderImage"></label>
                        <div class="custom-file">
                            <input asp-for="HeaderImage" class="custom-file-input" accept="image/*" required />
                            <label class="custom-file-label">Choose file</label>
                        </div>
                        <span asp-validation-for="HeaderImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="article.Title"></label>
                        <input asp-for="article.Title" class="form-control" required />
                        <span asp-validation-for="article.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="article.Content"></label>
                        <textarea asp-for="article.Content" class="form-control textarea" rows="8"></textarea>
                        <span asp-validation-for="article.Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <p class="text-muted">Publish now or save for later edits.</p>
                        <label>Publish now?</label>
                        <input type="checkbox" data-toggle="toggle" asp-for="article.Published">
                        <br>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <p style="color: orangered; margin-bottom: 0;">Please Note:</p>
                    <p>Your post will need to be approved before it is published </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.textarea'))
            .catch(error => {
                console.error(error);
            });

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}